﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="assignment2._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="Idea" runat="server">

    
   

</asp:Content>
