﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Home.aspx.cs" Inherits="assignment2.Home" %>

<asp:Content ID="Content2" ContentPlaceHolderID="Idea" runat="server">
    <div id="home">
    <h1>Binita Patel</h1>
    <h2>N01283919</h2>
    </div>
</asp:Content>

