﻿#menu {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    background-color: black;
    color: white;
    word-spacing: 20px;
}

body {
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-image: url('images/img1.jpg');
}

a, a:link, a:visited, a:hover, a:active {
    color: white;
}

a.hover{
    text-decoration:underline;
}

.jumbotron li a{
    color:black;
}


 #menu li 
 {
        display: inline-block;
        margin: 10px;
 }

#footer {
    clear: both;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    background-color: black;
    color: white;
}

