﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="assignment2.WebForm1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Content1" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="Content2" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceholder1" runat="server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="ContentPlaceholder2" runat="server">
</asp:Content>
